@import "tailwindcss";

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #18181b;
    background-color: white;
  }
  .dark body {
    color: #f4f4f5;
    background-color: #0e0e11;
  }
}
